
host_rag_data/research_papers/raw_pdfs/2504.07835v1_Pychop_ Emulating Low-Precision Arithmetic in Numerical Methods and Neural Networks.pdf

host_rag_storage/docstore.json

host_rag_storage/vector_store.faiss

host_rag_storage/vector_store.json

neural-nexus-backend/app/rag_utils/storage/docstore.json

neural-nexus-backend/app/rag_utils/storage/vector_store.faiss

neural-nexus-backend/app/rag_utils/storage/vector_store.json

neural-nexus-backend/storage/docstore.json

neural-nexus-backend/storage/vector_store.faiss

neural-nexus-backend/storage/vector_store.json

neural-nexus-frontend/node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node

venv/Lib/site-packages/torch/lib/cublas64_12.dll

venv/Lib/site-packages/torch/lib/cublasLt64_12.dll

venv/Lib/site-packages/torch/lib/cudnn_adv_infer64_8.dll

venv/Lib/site-packages/torch/lib/cudnn_adv_train64_8.dll

venv/Lib/site-packages/torch/lib/cudnn_cnn_infer64_8.dll

venv/Lib/site-packages/torch/lib/cudnn_cnn_train64_8.dll

venv/Lib/site-packages/torch/lib/cudnn_ops_infer64_8.dll

venv/Lib/site-packages/torch/lib/cudnn_ops_train64_8.dll

venv/Lib/site-packages/torch/lib/cufft64_11.dll

venv/Lib/site-packages/torch/lib/curand64_10.dll

venv/Lib/site-packages/torch/lib/cusolver64_11.dll

venv/Lib/site-packages/torch/lib/cusolverMg64_11.dll

venv/Lib/site-packages/torch/lib/cusparse64_12.dll

venv/Lib/site-packages/torch/lib/dnnl.lib

venv/Lib/site-packages/torch/lib/torch_cpu.dll

venv/Lib/site-packages/torch/lib/torch_cuda.dll

venv/Library/bin/mkl_avx512.1.dll

venv/Library/bin/mkl_core.1.dll

venv/Library/bin/mkl_intel_thread.1.dll

venv/Library/bin/mkl_pgi_thread.1.dll
